In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd
import os
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col

# Share and Number of ADUs in California, 2018-2023

In [3]:
hcd_data = pd.read_csv('/home/jovyan/bac/data/hcd_data.csv')
hcd_data.head()

/tmp/ipykernel_338/2283170651.py:1: DtypeWarning: Columns (3,16,25,33,36,37,42,43,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  hcd_data = pd.read_csv('/home/jovyan/bac/data/hcd_data.csv')

,JURIS_NAME,CNTY_NAME,YEAR,PRIOR_APN,APN,STREET_ADDRESS,PROJECT_NAME,JURS_TRACKING_ID,UNIT_CAT,TENURE,...,DEM_DES_UNITS,DEM_OR_DES_UNITS,DEM_DES_UNITS_OWN_RENT,DENSITY_BONUS_TOTAL,DENSITY_BONUS_NUMBER_OTHER_INCENTIVES,DENSITY_BONUS_INCENTIVES,DENSITY_BONUS_RECEIVE_REDUCTION,NOTES,Region,Type
0,ADELANTO,San Bernardino,2018,NaN,312846105,15824 BELLFLOWER ST,JOSE & ODULIA LOPEZ,NaN,SFD,Owner,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Inland Deserts Region,Single-Family Detached Unit
1,ADELANTO,San Bernardino,2018,NaN,312878124,11939 GAINES CT,"FRONTIER HOMES II, LLC",NaN,SFD,Owner,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Inland Deserts Region,Single-Family Detached Unit
2,ADELANTO,San Bernardino,2018,NaN,312878125,11931 GAINES CT,"FRONTIER HOMES II, LLC",NaN,SFD,Owner,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Inland Deserts Region,Single-Family Detached Unit
3,ADELANTO,San Bernardino,2018,NaN,312878126,11925 GAINES CT,"FRONTIER HOMES II, LLC",NaN,SFD,Owner,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Inland Deserts Region,Single-Family Detached Unit
4,ADELANTO,San Bernardino,2018,NaN,312878127,11913 GAINES CT,"FRONTIER HOMES II, LLC",NaN,SFD,Owner,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,Inland Deserts Region,Single-Family Detached Unit

In [4]:
# Filter observations with UNIT_CAT = 'ADU'
adu_data = hcd_data[hcd_data['UNIT_CAT'] == 'ADU']

# Group by year and count the number of ADU observations
adu_counts = adu_data.groupby('YEAR').size().reset_index(name='ADU_Count')

# Count the total observations by year
total_counts = hcd_data.groupby('YEAR').size().reset_index(name='Total_Count')

# Merge the two dataframes
summary = pd.merge(adu_counts, total_counts, on='YEAR')

# Calculate the share of ADU observations
summary['ADU_Share'] = summary['ADU_Count'] / summary['Total_Count']
summary.head()
#summary.to_csv('table_a2_share.csv', index=False)

   YEAR  ADU_Count  Total_Count  ADU_Share
0  2018      12786        84004   0.152207
1  2019      19259        97838   0.196846
2  2020      22586        97805   0.230929
3  2021      31934       119506   0.267217
4  2022      41346       124027   0.333363